<footer>
	<div class="footer-container">
		<div class="footer-logo-container veripark-logo">
			<img src="./assets/icons/veripark-logo.png" alt="VeriPark Logo">
		</div>
		<div class="footer-links">
			<a href="https://instagram.com/veripark">
				<i class="fab fa-instagram"></i>
			</a>
			<a href="https://twitter.com/VeriPark">
				<i class="fab fa-twitter"></i>
			</a>
			<a href="https://facebook.com/VeriParkGlobal">
				<i class="fab fa-facebook-square"></i>
			</a>
			<a href="https://veripark.com">
				<i class="fas fa-globe-americas"></i>
			</a>
		</div>
	</div>
</footer>
