<div class="card news-card">
	<img class="card-img-top" src="https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3289&q=80" alt="News card image">
	<div class="card-body">
		<h6>{{ newsItem.Title }}</h6>
		<p class="card-text">{{ newsItem.ShortDescription }}</p>
		<div class="card-info">
			<div class="like-count">
				<i class="fas fa-thumbs-up">432</i>
			</div>
			<div class="view-count">
				<i class="fas fa-eye">222</i>
			</div>
		</div>
	</div>
</div>
